<div class="contact main-section">
  <h1>Contact me</h1>
  <form class="contact-me">
    <input type="text" class="name" placeholder="Name">
    <input type="text" class="email" placeholder="Email">
    <textarea class="content" placeholder="Content"></textarea>
    <input type="submit" value="Send">
  </form>
  <div class="message"></div>
</div>