<div class="intro main-section">
	<h1>Hi! I'm Norris</h1>
	<p>I am a web developer stationed in New York City, working with a variety of frameworks - Ruby on Rails, Backbone.js, and Meteor.js.</p>
  <div class="next-section projects">
  	<div class="next-section-triangle" data-next-section="projects"></div>
  </div>
</div>