<div class="projects main-section">
  <h1>Projects</h1>
  <ul>
    <li class="js-project-block LLC" data-project-name="LLC">
      <video class="js-project-LLC"></video>
      <h1>Life Long Connections</h1>
    </li>
    <li class="js-project-block" data-project-name="asteroids">
      <div class="front">
        <video class="js-project-asteroids"></video>
        <button class="collaborators">Collaborators</button>
        <h1>Asteroids</h1>
      </div>
      <div class="back">
        <img src="<%= image_url("zak.png") %>">
        <h1>Zachary Stallings</h1>
      </div>
    </li>
    <li class="js-project-block princess" data-project-name="princess">
      <div class="front">
        <video class="js-project-princess"></video>
        <button class="collaborators">Collaborators</button>
        <h1>Princess Diaries</h1>
      </div>
      <div class="back">
        <img src="<%= image_url("john.jpg") %>">
        <h1>John Zhang</h1>
      </div>
    </li>
    <li class="js-project-block snake" data-project-name="snake">
      <div class="front">
        <video class="js-project-snake"></video>
        <button class="collaborators">Collaborators</button>
        <h1>Snake Game</h1>
      </div>
      <div class="back">
        <img src="<%= image_url("colin.jpg") %>">
        <h1>Colin Day</h1>
      </div>
    </li>
    <li class="js-project-block trello" data-project-name="trello">
      <video class="js-project-trello"></video>
      <h1>Trello Clone</h1>
    </li>
    <li class="js-project-block chess" data-project-name="chess">
      <div class="front">
        <video class="js-project-chess"></video>
        <button class="collaborators">Collaborators</button>
        <h1>Chess</h1>
      </div>
      <div class="back">
        <img src="<%= image_url("colin_jackson.jpg") %>">
        <h1>Colin Jackson</h1>
      </div>
    </li>
    <div class="clear"></div>
  </ul>
  <div class="next-section skills">
    <div class="next-section-triangle" data-next-section="skills"></div>
  </div>
</div>