<div class="side-bar">
  <div class="top-curve"></div>
  <div class="top-curve2"></div>
  <h1>Norris Nakagaki</h1>
  <div class="triangle"></div>
  <div class="top-circle"></div>
	<img src="<%= image_url("norris-nakagaki-cropped.png") %>">
	<ul>
		<li class="intro"><div class="right-arrow"></div>Intro</li>
		<li class="projects"><div class="right-arrow"></div>Projects</li>
    <li class="skills"><div class="right-arrow"></div>Skills</li>
		<li class="about"><div class="right-arrow"></div>About</li>
		<li class="contact"><div class="right-arrow"></div>Contact</li>
	</ul>

  <ul class="links">
    <li><a class="github" href='https://github.com/nnakagaki' target='_blank'></a></li>
    <li><a class="linkedin" href='https://www.linkedin.com/pub/norris-nakagaki/26/6b2/85b' target='_blank'></a></li>
    <li><a class="codeeval" href='http://www.codeeval.com/profile/nnakagaki/' target='_blank'></a></li>
    <li><a class="project-euler" href='https://projecteuler.net/profile/norichan.png' target='_blank'></a></li>
    <li><a class="facebook" href='https://www.facebook.com/itsfinetoday' target='_blank'></a></li>
    <li><a class="tumblr" href='https://www.tumblr.com/blog/nnakagaki' target='_blank'></a></li>
    <li><a class="deviantart" href='http://norisuke.deviantart.com/' target='_blank'></a></li>
    <li><a class="youtube" href='https://www.youtube.com/channel/UCd8sPxNL3EC_QTshgLbfqSw' target='_blank'></a></li>
  </ul>
</div>