<div class="start-screen js-start-screen fixed-full">
  <div class="ss-hello">Hi! I'm Norris</div>
  <div class="ss-left-side">
    <div class="vertical-center-wrapper">
      <div class="ss-work vertical-center-content"><span class="cursor-pointer js-work">Work &#10097;&#10097;</span></div>
    </div>
  </div>
  <div class="ss-right-side">
    <div class="vertical-center-wrapper float-right">
      <div class="ss-personal vertical-center-content"><span class="cursor-pointer js-life">&#10096;&#10096; Life</span></div>
    </div>
  </div>
</div>