<div class="start-screen js-start-screen fixed-full">
	<div class="ss-hello">Hi! I'm Norris</div>
	<div class="ss-left-side">
		<div class="vertical-center-wrapper">
			<div class="ss-work vertical-center-content">Work &#10097;&#10097;</div>
		</div>
	</div>
	<div class="ss-right-side">
		<div class="vertical-center-wrapper float-right">
			<div class="ss-personal vertical-center-content">&#10096;&#10096; Life</div>
		</div>
	</div>
</div>

<script>
	Portfolio.backgroundImages = [
		'url(' + '<%= image_path("norris/after_dance.jpg") %>' + ')',
		'url(' + '<%= image_path("norris/pingpong.jpg") %>' + ')',
		'url(' + '<%= image_path("norris/sephora.jpg") %>' + ')',
		'url(' + '<%= image_path("norris/city_view.jpg") %>' + ')'
	];

	Portfolio.currentBackground = _.sample(Portfolio.backgroundImages);
	$(".js-start-screen").css("background-image", Portfolio.currentBackground);
	setInterval(function() {
		Portfolio.currentBackground = _.sample(_.without(Portfolio.backgroundImages, Portfolio.currentBackground));
		$(".js-start-screen").css("background-image", Portfolio.currentBackground);

	}, 5000);

	$(".ss-left-side, .ss-right-side").width(($(window).width() - $(window).height()*0.75)/2 - 25);
	$(window).on("resize", function() {
		_.debounce(function() {
			$(".ss-left-side, .ss-right-side").width(($(window).width() - $(window).height()*0.75)/2 - 25);
		}, 150)();
	});

	$(".ss-work").on("mouseenter", function(event) {
		$(event.target).animate({ "padding-left" : 40 }, 200);
	});

	$(".ss-work").on("mouseleave", function(event) {
		$(event.target).animate({ "padding-left" : 15 }, 200);
	});

	$(".ss-work, .ss-personal").on("click", function() {
		$(".ss-work").off();
		$(".js-start-screen").fadeOut(function() {
			$(".js-start-screen").addClass("hidden");

			$(".js-show-after-load").css({ display: "none" }).removeClass("hidden").fadeIn(400);

	    window.setTimeout(function() {
	      $(window).resize().scroll();
	      $(".js-show-after-load-delay").css({ display: "none" }).removeClass("hidden").fadeIn();
	    }, 0);
		});
	});

	$(".ss-personal").on("mouseenter", function(event) {
		$(event.target).animate({ "padding-right" : 40 }, 200);
	});

	$(".ss-personal").on("mouseleave", function(event) {
		$(event.target).animate({ "padding-right" : 15 }, 200);
	});
</script>