/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body, div, h1, h2, p, ul, li, iframe, button {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	background: transparent;
	text-decoration: none;
}

:focus {
	outline: none;
}

li {
	list-style: none;
}

body {
	font-family: sans-serif;
}

a {
	text-decoration: none
}

.hidden {
	display: none;
}

.hide-overflow {
	overflow: hidden;
}

div.shadow {
	position: fixed;
	z-index: 99;
	height: 100vh;
	width: 100vw;
	background: rgba(0,0,0,0.75)
}

div.window {
	height: 100vh;
	width: 100vw;
}

div.side-bar {
	position: fixed;
	left: 0;
	top: 0;
	bottom: 0;
	width: 100px;
	background: linear-gradient(to right, rgb(50,50,200),rgb(50,50,100));

	div.triangle {
		position: absolute;
		top: 0;
		left: 0;
		height: 0;
		width: 0;
		border-top: 100px solid orange;
		border-right: 100px solid transparent;
		border-bottom: 100px solid transparent;
		border-left: 100px solid orange;
	}

	div.top-curve {
		position: absolute;
		right: -200px;
		top: 50px;
		width: 100px;
		height: 50px;
		border-left: 20px solid rgb(50,50,100);
		border-top: 20px solid rgb(50,50,100);
		border-radius: 50px 0 0 0;
	}

	div.top-curve2 {
		position: absolute;
		right: -30px;
		top: 216px;
		width: 30px;
		height: 30px;
		border-left: 20px solid rgb(50,50,100);
		border-top: 20px solid rgb(50,50,100);
		border-radius: 50px 0 0 0;
	}

	div.cover-box {
		position: absolute;
		left: 0;
		top: 226px;
		width: 100px;
		height: 50px;
		background: linear-gradient(to right, rgb(50,50,200),rgb(50,50,100));
	}

	div.top-circle {
		position: absolute;
		border: 70px solid rgb(100,50,150);
		border-radius: 100px;
		width: 60px;
		height: 100px;
	}

	h1 {
		position: absolute;
		right: -330px;
		font-size: 30px;
		background: linear-gradient(rgb(50,50,200), rgb(50,50,100));
		padding: 15px 20px 20px 30px;
		color: white;
		border-radius: 0 0 20px 0;
	}

	img {
		position: absolute;
		margin: 25px;
		width: 150px;
		height: auto;
	}

	ul {
		margin: 280px 0 0 8px;
		color: white;
		font-size: 20px;

		li {
			margin: 10px 0 0 0;
			cursor: pointer;
			position: relative;

			div.right-arrow {
				position: absolute;
				left: -18px;
				top: 3px;
				border-top: 8px solid transparent;
				border-right: 8px solid transparent;
				border-bottom: 8px solid transparent;
				border-left: 10px solid white;
			}

			&:hover {
				margin-left: 10px;
			}
		}
	}
}

main {
	padding: 0 0 0 100px;

	> div {
		padding: 100px 100px 100px 130px;
		background: linear-gradient(rgb(255,255,255),rgb(230,230,245));
		position: relative;

		div.next-section {
			position: absolute;
			bottom: 0;
			left: 0;
			right: 0;
			margin: auto;
			height: 0;
			width: 0;
			border-top: 30px solid rgb(100,100,255);
			border-right: 30px solid transparent;
			border-bottom: 30px solid transparent;
			border-left: 30px solid transparent;

			&:hover {
				border-top: 30px solid rgb(150,150,255);
			}
		}

		h1 {
			font-size: 50px;
			text-align: center;
			margin: 0 0 50px 0;
			color: rgb(50,50,50);
		}

		&.intro {
			p {
				font-size: 35px;
				color: rgb(100,100,100);
				line-height: 1.7;
			}
		}

		&.projects {
			ul {
				li {
					width: 31.33%;
					float: left;
					margin: 1%;
					background: white;
					border-radius: 0 0 15px 15px;
					box-shadow: 0 0 1em grey;
					position: relative;
					transition: transform 0.6s;

					&.flip {
						transform: perspective( 600px ) rotateY( 180deg );
						transform-style: preserve-3d;
						-webkit-backface-visibility: hidden;
					backface-visibility: hidden;
					}

					&:hover {
						background: rgb(225,255,225);
					}

					button {
						position: absolute;
						right: 0;
						top: 0;
						padding: 5px;
						background: rgb(200,200,200);
						border-radius: 0 0 0 10px;

						&:hover {
							background: rgb(250,250,250);
						}
					}

					img {
						width: 100%;
						height: auto;
					}

					video {
						width: 100%;
						height: auto;
					}

					h1 {
						font-size: 18px;
						padding: 10px 0 20px 0;
						margin: 0;
					}
				}

				div.clear {
					clear: both;
				}

				div.front {
					position: absolute;
					z-index: 10;
					transform: rotateY(0deg);
					-webkit-backface-visibility: hidden;
					backface-visibility: hidden;
				}

				div.back {
					width: 100%;
					position: absolute;
					transform: rotateY(180deg);
					-webkit-backface-visibility: hidden;
					backface-visibility: hidden;
					background: white;
					border-radius: 0 0 15px 15px;
					box-shadow: 0 0 1em grey;

					h1 {
						padding: 10px 0 18px 0;
					}
				}
			}
		}

		&.about {
			p {
				font-size: 20px;
				color: rgb(100,100,100);
				line-height: 1.7;
				margin-bottom: 20px;
				position: relative;

				strong {
					display: block;
					position: absolute;
					top: -12px;
					font-size: 30px;
					color: rgb(150,100,150);
				}
			}
		}

		&.contact {
			input.name {
				float: left;
				width: 45%;
				padding: 1%;
				border: 1px solid rgb(150,150,150);
				margin-bottom: 20px;
				font-size: 20px;
				border-radius: 10px;
			}

			input.email {
				float: right;
				width: 45%;
				padding: 1%;
				border: 1px solid rgb(150,150,150);
				margin-bottom: 20px;
				font-size: 20px;
				border-radius: 10px;
			}

			textarea {
				width: 98%;
				padding: 1%;
				border-radius: 10px;
				border: 1px solid rgb(150,150,150);
				resize: none;
				font-size: 20px;
				height: 150px;
			}
		}
	}
}

iframe {
	z-index: 100;
	position: fixed;
	top: 0;
	left: 0;
	height: 80vh;
	width: 80vw;
	margin: 10vh 10vw 10vh 10vw;
	border-radius: 10px;
}
