<div class='info-modal init'>
  <h1>Asteroids</h1>
  <div class='content'>
    <div class='right'>
      <video class='asteroids' src='<%= video_url %>'></video>
      <div class='iframe'>Play Game</div>
      <div class='github-link'><a href='https://github.com/nnakagaki/asteroid-game' target='_blank'></a></div>
    </div>
    <p>Game made in JavaScript using Canvas.</p>
    <p class='features'>Features:</p>
    <ul>
      <li>Audio visualizer in main screen</li>
      <li>Smooth controls from ship following mouse position</li>
      <li>Asteroids interact with music</li>
      <li>Boss Battle</li>
      <li>Awesome music from Misha Mishenko and Madeon!</li>
    </ul>
    <p class='features'>Controls:</p>
    <ul>
      <li>W or up-key to move ship towards mouse</li>
      <li>S or down-key to move ship away from mouse</li>
      <li>Click or space to shoot bullets</li>
      <li>ESC to pause</li>
    </ul>
  </div>
</div>
