<div class='info-modal init'>
  <h1>Chess</h1>
  <div class='content'>
    <div class='right'>
      <video class='chess' src='<%= video_url %>'></video>
      <div class='github-link'>
        <a href='https://github.com/nnakagaki/chess' target='_blank'></a>
      </div>
    </div>
    <p>Game of chess made in Ruby</p>
    <p class='features'>Features:</p>
    <ul>
      <li>Implements the less known rules such as castling and en-passant</li>
      <li>Save/Load game files</li>
    </ul>
  </div>
</div>
