<div class='info-modal init'>
	<h1>Life Long Connections</h1>
	<div class='content'>
		<div class='right'>
			<video class='LLC' src='<%= video_url %>'></video>
			<div class='iframe'>Open as iframe</div>
			<div class='new-tab'>Open in new tab<a href='http://www.life-long-connections.com' target='_blank'></a>
			</div>
			<div class='github-link'><a href='https://github.com/nnakagaki/facebook-clone' target='_blank'></a></div>
		</div>
		<p>This app is a clone of facebook and is my final project from AppAcademy. I originally built it purely in rails, but ported it over to backbone. It covers the major features in the facebook user show page such as posts, comments, likes, profile and cover photos. Chat, notifications, and friend requests is also implemented.</p>
		<p class='features'>Features:</p>
		<ul>
			<li>Saves profile and cover photos with FilePicker</li>
			<li>Private realtime chat with Pusher</li>
			<li>Realtime notifications and friend requests with Pusher</li>
			<li>Find where post was posted from with the Geocoder gem</li>
			<li>Allows for embedding of any website with the Link Thumbnailer gem</li>
			<li>Clicking notifications auto directs and scrolls to the post of interest</li>
			<li>User authentication for chat rooms and notification channels</li>
		</ul>
	</div>
</div>