<div class='info-modal init'>
	<h1>Princess Diaries</h1>
	<div class='content'>
		<div class='right'>
			<video class='princess' src='<%= video_url %>'></video>
			<div class='iframe'>Open as iframe</div>
			<div class='new-tab'>Open in new tab<a href='https://princess-diary.herokuapp.com' target='_blank'></a>
			</div>
			<div class='github-link'><a href='https://github.com/JohnSZhang/Crater' target='_blank'></a>
			</div>
		</div>
		<p>First app that I made in Meteor.js. The app was originally made in rails and backbone, but was ported to meteor.</p>
		<p class='features'>Features:</p>
		<ul>
			<li>Basic user authentification</li>
			<li>Unit testing</li>
		</ul>
	</div>
</div>