<div class='info-modal init'>
  <h1>Snake Game</h1>
  <div class='content'>
    <div class='right'>
      <video class='snake-game' src='<%= video_url %>'></video>
      <div class='iframe'>Play Game</div>
      <div class='github-link'><a href='https://github.com/nnakagaki/snake' target='_blank'></a></div>
    </div>
    <p>Game made in JavaScript using Canvas.</p>
    <p class='features'>Features:</p>
    <ul>
      <li>Audio visualizer in main screen</li>
      <li>Smooth controls from ship following mouse position</li>
      <li>Asteroids interact with music</li>
      <li>Boss Battle</li>
      <li>Awesome music from Misha Mishenko and Madeon!</li>
    </ul>
  </div>
</div>
