<div class='info-modal init'>
	<h1>Trello Clone</h1>
	<div class='content'>
		<div class='right'>
			<video class='trello' src='<%= video_url %>'></video>
			<div class='iframe'>Open as iframe</div>
			<div class='new-tab'>Open in new tab<a href='https://norris-trello-clone.herokuapp.com' target='_blank'></a></div>
			<div class='github-link'><a href='https://github.com/nnakagaki/trello-clone' target='_blank'></a></div>
		</div>
		<p>This was the first one page app that I build using backbone and rails. The features ar pretty basic but I tried to clone the actual website closely in terms of CSS.</p>
		<p class='features'>Features:</p>
		<ul>
			<li>Sortable lists and cards using JQuery UI</li>
			<li>Basic user authentication</li>
			<li>todo: facebook login</li>
			<li>todo: actionmailer</li>
			<li>todo: AJAX</li>
		</ul>
	</div>
</div>